@model RockEntity
@{
    ViewBag.Title = "Details of Rock";
    Layout = "_layout";
}

<div class="d-flex flex-row h-100 w-100 gap-2 ">

    <div>
        <div class="d-flex h-100 flex-column bg-dark border-white border p-1 position-relative justify-content-center rounded-3">
            <div class="d-flex flex-colum position-relative">
                <div class="position-absolute top-0 end-0 p-4" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>
                </div>
                <div class="position-absolute top-0 start-0 p-4" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
                        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                    </svg>
                </div>
                <img src="~/rocks/@{@Model.ImageFileName}.jpeg" class="p-2 w-100" alt="@{@Model.Name}">
            </div>
        </div>
    </div>

    <div class="container w-100 d-flex flex-column p-4 bg-dark border border-white rounded-3">
        <h2 class="fs-1 border-bottom pb-2 text-white border-primary d-flex flex-row justify-content-between"><span>Details</span><span>#@Model.Id</span></h2>
        
        <form method="post" class="p-4 d-flex flex-column gap-4" asp-controller="Rock0" asp-action="Details">
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <div class="d-flex flex-row gap-2 justify-content-between fs-3 bg-primary rounded-3 p-2">
                <label asp-for="Name" class="p-1"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input type="text" asp-for="Name" value="@Model.Name" class="w-50 rounded-3 p-1 bg-dark border border-secondary text-white">                
            </div>
            <div class="d-flex flex-row gap-2 justify-content-between fs-3 bg-primary rounded-3 p-2">
                <label asp-for="Formula" class="p-1"></label>
                <span asp-validation-for="Formula" class="text-danger"></span>
                <input type="text" asp-for="Formula" value="@Model.Formula" class="w-50 p-1 rounded-3 bg-dark border border-secondary text-white">                
            </div>
            <div class="d-flex flex-row gap-2 justify-content-between fs-3 bg-primary rounded-3 p-2">
                <label asp-for="Hardness" class="p-1"></label>
                <span asp-validation-for="Hardness" class="text-danger"></span>
                <input type="number" asp-for="Hardness" value="@Model.Hardness" min="1" max="10" class="w-50 p-1 rounded-3 bg-dark border border-secondary text-white">                
            </div>
            <div class="d-flex flex-row gap-2 justify-content-between fs-3 bg-primary rounded-3 p-2">
                <label asp-for="Density" class="p-1"></label>
                <span asp-validation-for="Density" class="text-danger"></span>
                <input type="number" step="0.01" asp-for="Density" value="@Model.Density.ToString(System.Globalization.CultureInfo.InvariantCulture)" class="w-50 p-1 rounded-3 bg-dark border border-secondary text-white">                
            </div>
            <div class="d-flex flex-row gap-2 justify-content-between fs-3 bg-primary rounded-3 p-2">
                <label asp-for="Month" class="p-1"></label>
                <span asp-validation-for="Month" class="text-danger"></span>
                <input type="number" asp-for="Month" value="@Model.Month" min="1" max="12" class="w-50 p-1 rounded-3 bg-dark border border-secondary text-white">                
            </div>
            <div class="w-100 d-flex flex-row justify-content-between">

                <button class="btn btn-primary" style="width: 45%;" type="submit">
                    Save
                </button>

                <button class="btn btn-danger" style="width: 45%;" type="button">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>